* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f6fc;
}

.container {
  width: 80%;
  max-width: 1100px;
  height: 70%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.inner-container {
  display: flex;
  height: 100%;
}

.left, .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left{
  padding: 40px;
  width: 50%;
}

.logo {
  width: 150px;
  margin-right: 10px;
}

h1 {
  font-size: 22px;
  margin: 0;
  color: #333;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form label {
  margin-top: 15px;
  font-weight: 600;
}


.login-form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #28c1b8;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.google-btn {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #f1f3f4;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  
}

.forgot {
  text-align: right;
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.separator {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.right-img {
  width: 100%;
  height: 100%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 30px 40px;
  width: 90%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #34495e;
}

.modal-content label select {
  font-weight: 600;
  color: #333;
  display: block;
  margin-top: 12px;
}

option{
  font-weight: 600;
  color: #333;
  display: block;
  margin-top: 12px;
}

.input-box,#add_role, #add_status, #add_gender{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #ccc;
  transition: border 0.3s;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: border 0.3s;
}

.modal-content input:focus {
  border-color: #3498db;
  outline: none;
}

.modal-content button[type="submit"] , button[type="reset"]{
  background-color: #2f80ed;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button[type="submit"],button[type="reset"]:hover {
  background-color: #1e5fd0;
}

.close {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #333;
}